<% @competitions.each do |competition| %>
<section id='competition-<%= competition.id %>'>
  <%= competition.name %>
  <%= link_to "View this competition", "/competitions/#{competition.id}" %>
</section>
<% end  %>
