<h1>Competition info: </h1>

<p><%= @competition.name %>
  <%= @competition.sport %></p>

<p>location: <%= @competition.location %></p>

<%= link_to "Register a new team", "/competitions/#{@competition.id}/competition_teams/new" %>
